<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962301051952-4p8f5cvmed0c79vbjgpdsi3d1sgj74fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962301051952-4p8f5cvmed0c79vbjgpdsi3d1sgj74fr</string>
	<key>API_KEY</key>
	<string>AIzaSyCHZM3EKKZzkmo9itXNLpoAfA7zjMAz9Yo</string>
	<key>GCM_SENDER_ID</key>
	<string>962301051952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseexample</string>
	<key>PROJECT_ID</key>
	<string>chatappproject-5de3a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappproject-5de3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962301051952:ios:990a82bcbca720bee759f5</string>
	<key>DATABASE_URL</key>
	<string>https://chatappproject-5de3a.firebaseio.com</string>
</dict>
</plist>